@import "./color";
@import "./layout";
@import "./task";
@import "./header";
@import "./sidebar";
@import "./inputs";

h1,
h2,
h3,
h4,
h5,
p,
a,
i,
li {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  color: $white;
}

body {
  background: $darkBlue;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.rb {
  border-radius: 25px;
}
