@import "./layout";
@import "./task";

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}

header {
  width: 100%;
  text-align: center;
  padding: 50px 0px;
  h1 {
    font-weight: 200;
  }
  background-color: #f1f1f1;
}
